<div style='background-color: white; height: 100vh; width: 100vw'>
  <nav
    style='
        background: white;
        padding: 1em;
        box-shadow: 0px 9px 40px rgba(0, 0, 0, 0.26);
    '
  >
    ANF
  </nav>
  <div style='padding: 3em'>
    <h1 style='color: #00007f; font-weight: 600'>Merci
      {{firstname}}
      pour votre don !</h1>
    <p style='line-height: 2em; color: rgb(136, 136, 136); font-size: 0.9em'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores, iure
      harum id nemo expedita minima sit cum obcaecati. Velit repellendus
      architecto officia, cum veritatis accusantium fuga aut quisquam dolores.
    </p>
    <div class='box_donation_informations'>
      <div class='box_donation' style='margin: 1em 0'>
        <span style='color: #00007f; font-weight: 600'>Numéro de donation :
        </span>
        <span>{{id}}</span>
      </div>
      <div class='box_donation' style='margin: 1em 0'>
        <span style='color: #00007f; font-weight: 600'>Date : </span>
        <span>01/09/2021</span>
      </div>
      <div class='box_donation' style='margin: 1em 0'>
        <span style='color: #fb0704; font-weight: 600'>Montant : </span>
        <span style='font-weight: 600'>{{amount}} €</span>
      </div>
    </div>
    <p style='line-height: 2em; color: rgb(87, 87, 87); font-size: 0.9em'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maiores, iure
      harum id nemo expedita minima sit cum obcaecati. Velit repellendus
      architecto officia, cum veritatis accusantium fuga aut quisquam dolores.
    </p>
  </div>
  <footer
    style='background-color: #00007f; width: 100vw; height: 20vw'
  ></footer>
</div>